[Desktop Entry]
Encoding=UTF-8
Name=BoomCoin
Comment=BoomCoin P2P Cryptocurrency
Comment[fr]=BoomCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BoomCoin, eşten eşe kriptografik sanal para birimi
Exec=BoomCoin-qt %u
Terminal=false
Type=Application
Icon=BoomCoin128
MimeType=x-scheme-handler/BoomCoin;
Categories=Office;Finance;
